In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
#load count matrix (normalized)
counts_genes_norm = pd.read_csv("results_gene_counts_normalized_female_only_231212.csv")  
counts_genes_norm.rename(columns={"Unnamed: 0": "GENEID"}, inplace = True)
#rearrange columns
counts_genes_norm = counts_genes_norm[['GENEID', 
              'filtered_S1_quant_filtered',
              'filtered_S2_quant_filtered',
              'filtered_S4_quant_filtered',
              'filtered_S9_quant_filtered',
              'filtered_S11_quant_filtered',
              'filtered_S12_quant_filtered',]]

In [3]:
counts_genes_norm

,GENEID,filtered_S1_quant_filtered,filtered_S2_quant_filtered,filtered_S4_quant_filtered,filtered_S9_quant_filtered,filtered_S11_quant_filtered,filtered_S12_quant_filtered
0,ENSMUSG00000000001,6306.111096,5526.774801,5480.699490,6986.230785,7187.287490,7434.045727
1,ENSMUSG00000000003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,ENSMUSG00000000028,159.305235,138.436746,148.558981,165.844405,222.043307,243.453262
3,ENSMUSG00000000037,33.598975,40.040854,34.099580,63.756948,8.988655,20.360731
4,ENSMUSG00000000049,2.907095,0.000000,0.000000,0.911894,13.046878,1.118252
...,...,...,...,...,...,...,...
35677,ENSMUSG00000118670,3.013149,2.354209,3.994415,0.971993,3.506734,3.354749
35678,ENSMUSG00000118671,244.995201,240.379153,217.600614,388.964773,192.249070,222.314314
35679,ENSMUSG00000118672,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35680,ENSMUSG00001074846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35681,ENSMUSG00002076083,529.303073,705.012290,631.715220,594.878518,642.842869,570.853835

In [4]:
#load results table
res_genes = pd.read_csv("shrink_Anno_female_only.csv", 
                        usecols = ['Unnamed: 0','GENENAME', "log2FoldChange", "padj", "pvalue"])  
res_genes.rename(columns={"Unnamed: 0": "GENEID"}, inplace=True)

In [5]:
res_genes

                   GENEID  log2FoldChange    pvalue      padj GENENAME
0      ENSMUSG00000000001        0.283231  0.000157  0.004735    Gnai3
1      ENSMUSG00000000003             NaN       NaN       NaN     Pbsn
2      ENSMUSG00000000028        0.265318  0.018064  0.128084    Cdc45
3      ENSMUSG00000000037       -0.009928  0.674981       NaN    Scml2
4      ENSMUSG00000000049        0.009978  0.197439       NaN     Apoh
...                   ...             ...       ...       ...      ...
35677  ENSMUSG00000118670       -0.002393  0.837295       NaN      NaN
35678  ENSMUSG00000118671        0.040241  0.435403  0.727331    EPPK1
35679  ENSMUSG00000118672             NaN       NaN       NaN     Muc4
35680  ENSMUSG00001074846             NaN       NaN       NaN      NaN
35681  ENSMUSG00002076083       -0.020399  0.743549  0.910018   Klhl17

[35682 rows x 5 columns]

In [6]:
#gene lists
gene_list =  ["Cacna1g",
"Camk2a",
"Creb3l4",
"Cacna1s",
"Pomc",
"Prkcg",
"Cacna1f,"
"Atp1b4",
"Calml3",
"Camk1g",
"Creb3l3",
"Cacna1i",
"Camk4"


                    ]
goi = res_genes[res_genes["GENENAME"].isin(gene_list)]

In [7]:
goi.sort_values(by=["GENENAME"], ascending=True)

                   GENEID  log2FoldChange    pvalue  padj GENENAME
2768   ENSMUSG00000020866       -0.023761  0.402953   NaN  Cacna1g
3640   ENSMUSG00000022416        0.007496  0.748358   NaN  Cacna1i
5496   ENSMUSG00000026407       -0.011231  0.371406   NaN  Cacna1s
17263  ENSMUSG00000063130        0.000078  0.964662   NaN   Calml3
1686   ENSMUSG00000016179        0.003774  0.841380   NaN   Camk1g
4562   ENSMUSG00000024617       -0.016888  0.460437   NaN   Camk2a
10915  ENSMUSG00000038128        0.050859  0.049558   NaN    Camk4
9835   ENSMUSG00000035041        0.007442  0.624263   NaN  Creb3l3
6355   ENSMUSG00000027938       -0.013145  0.529492   NaN  Creb3l4
2642   ENSMUSG00000020660       -0.010770  0.483400   NaN     Pomc
20123  ENSMUSG00000078816       -0.010417  0.379152   NaN    Prkcg

In [8]:
# log2 transform
counts_genes_norm_log2 = pd.read_csv("results_gene_counts_normalized_female_only_231212.csv")  
counts_genes_norm_log2.rename(columns={"Unnamed: 0": "GENEID"}, inplace = True)
cols = counts_genes_norm_log2.columns
counts_genes_norm_log2[cols[1:]] = counts_genes_norm_log2[cols[1:]].apply(np.log2, errors='coerce')

In [9]:
#merge counts and results

######################################
goi_counts_norm_log2 = goi.merge(counts_genes_norm_log2, how = "left", 
                           left_on='GENEID', 
                           right_on='GENEID', 
                           validate="one_to_one")
goi_counts_norm_log2.set_index('GENENAME', inplace=True)
######################################

In [10]:
goi_counts_norm_log2

,GENEID,log2FoldChange,pvalue,padj,filtered_S1_quant_filtered,filtered_S2_quant_filtered,filtered_S4_quant_filtered,filtered_S9_quant_filtered,filtered_S11_quant_filtered,filtered_S12_quant_filtered
GENENAME,,,,,,,,,,
Camk1g,ENSMUSG00000016179,0.003774,0.841380,NaN,3.711555,1.643446,3.453712,3.626879,3.502590,2.694927
Pomc,ENSMUSG00000020660,-0.010770,0.483400,NaN,2.999757,2.816745,1.997712,2.288500,1.234311,2.154827
Cacna1g,ENSMUSG00000020866,-0.023761,0.402953,NaN,5.329178,4.609292,4.119371,4.507093,4.477039,3.901091
Cacna1i,ENSMUSG00000022416,0.007496,0.748358,NaN,3.517040,4.974109,4.817070,5.730510,4.236922,3.593305
Camk2a,ENSMUSG00000024617,-0.016888,0.460437,NaN,4.519631,3.687861,3.392392,3.528035,3.646256,3.144337
Cacna1s,ENSMUSG00000026407,-0.011231,0.371406,NaN,2.840219,1.696052,2.065799,1.309649,-0.338075,1.918210
Creb3l4,ENSMUSG00000027938,-0.013145,0.529492,NaN,3.335444,3.095709,4.216645,3.518895,3.146361,2.748656
Creb3l3,ENSMUSG00000035041,0.007442,0.624263,NaN,2.674010,1.194567,2.545755,1.417752,3.326677,2.895335
Camk4,ENSMUSG00000038128,0.050859,0.049558,NaN,3.861320,3.172474,3.786415,5.503655,4.694634,3.736513
Calml3,ENSMUSG00000063130,0.000078,0.964662,NaN,-inf,-inf,0.061758,-inf,-inf,0.162996
Prkcg,ENSMUSG00000078816,-0.010417,0.379152,NaN,0.597105,2.332965,3.803316,1.266560,1.474746,2.409478

In [11]:
counts_genes_norm_log2

,GENEID,filtered_S1_quant_filtered,filtered_S2_quant_filtered,filtered_S4_quant_filtered,filtered_S9_quant_filtered,filtered_S11_quant_filtered,filtered_S12_quant_filtered
0,ENSMUSG00000000001,12.622535,12.432222,12.420144,12.770299,12.811232,12.859932
1,ENSMUSG00000000003,-inf,-inf,-inf,-inf,-inf,-inf
2,ENSMUSG00000000028,7.315650,7.113083,7.214892,7.373687,7.794697,7.927501
3,ENSMUSG00000000037,5.070345,5.323401,5.091682,5.994511,3.168105,4.347717
4,ENSMUSG00000000049,1.539578,-inf,-inf,-0.133062,3.705633,0.161245
...,...,...,...,...,...,...,...
35677,ENSMUSG00000118670,1.591272,1.235243,1.997984,-0.040982,1.810128,1.746205
35678,ENSMUSG00000118671,7.936610,7.909168,7.765539,8.603496,7.586833,7.796457
35679,ENSMUSG00000118672,-inf,-inf,-inf,-inf,-inf,-inf
35680,ENSMUSG00001074846,-inf,-inf,-inf,-inf,-inf,-inf
35681,ENSMUSG00002076083,9.047950,9.461505,9.303131,9.216451,9.328322,9.156978

In [12]:
counts_genes_norm

,GENEID,filtered_S1_quant_filtered,filtered_S2_quant_filtered,filtered_S4_quant_filtered,filtered_S9_quant_filtered,filtered_S11_quant_filtered,filtered_S12_quant_filtered
0,ENSMUSG00000000001,6306.111096,5526.774801,5480.699490,6986.230785,7187.287490,7434.045727
1,ENSMUSG00000000003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,ENSMUSG00000000028,159.305235,138.436746,148.558981,165.844405,222.043307,243.453262
3,ENSMUSG00000000037,33.598975,40.040854,34.099580,63.756948,8.988655,20.360731
4,ENSMUSG00000000049,2.907095,0.000000,0.000000,0.911894,13.046878,1.118252
...,...,...,...,...,...,...,...
35677,ENSMUSG00000118670,3.013149,2.354209,3.994415,0.971993,3.506734,3.354749
35678,ENSMUSG00000118671,244.995201,240.379153,217.600614,388.964773,192.249070,222.314314
35679,ENSMUSG00000118672,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35680,ENSMUSG00001074846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35681,ENSMUSG00002076083,529.303073,705.012290,631.715220,594.878518,642.842869,570.853835