In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

In [8]:
#load count matrix (normalized)
counts_genes_norm = pd.read_csv("results_gene_counts_normalized_male_only_231212.csv")  
counts_genes_norm.rename(columns={"Unnamed: 0": "GENEID"}, inplace = True)
#rearrange columns
counts_genes_norm = counts_genes_norm[['GENEID', 
              'filtered_S3_quant_filtered',
              'filtered_S5_quant_filtered',
              'filtered_S6_quant_filtered',
              'filtered_S7_quant_filtered',
              'filtered_S10_quant_filtered',]]

In [10]:
counts_genes_norm

,GENEID,filtered_S3_quant_filtered,filtered_S5_quant_filtered,filtered_S6_quant_filtered,filtered_S7_quant_filtered,filtered_S10_quant_filtered
0,ENSMUSG00000000001,5143.300096,5650.830329,5375.378646,6387.214869,6786.222876
1,ENSMUSG00000000003,0.000000,0.000000,0.000000,0.000000,0.000000
2,ENSMUSG00000000028,78.221197,89.369443,73.819923,94.861755,86.555948
3,ENSMUSG00000000037,30.466135,23.613296,17.265442,11.888363,8.780357
4,ENSMUSG00000000049,0.000000,1.631462,0.000000,0.000000,0.769068
...,...,...,...,...,...,...
35677,ENSMUSG00000118670,0.612243,5.847521,1.120549,1.199381,1.039169
35678,ENSMUSG00000118671,191.880806,370.695475,278.560807,218.187931,234.242307
35679,ENSMUSG00000118672,0.000000,0.000000,0.000000,0.000000,0.000000
35680,ENSMUSG00001074846,0.000000,0.000000,0.000000,0.000000,0.000000
35681,ENSMUSG00002076083,605.158406,657.743039,575.840510,513.361392,568.284642

In [24]:
#load results table
res_genes = pd.read_csv("shrink_Anno_male_only_231212.csv", 
                        usecols = ['Unnamed: 0','GENENAME', "log2FoldChange", "padj", "pvalue"])  
res_genes.rename(columns={"Unnamed: 0": "GENEID"}, inplace=True)

In [25]:
res_genes

                   GENEID  log2FoldChange    pvalue      padj GENENAME
0      ENSMUSG00000000001        0.208028  0.002531  0.231199    Gnai3
1      ENSMUSG00000000003             NaN       NaN       NaN     Pbsn
2      ENSMUSG00000000028        0.002974  0.561446  0.999632    Cdc45
3      ENSMUSG00000000037       -0.004037  0.062883  0.880304    Scml2
4      ENSMUSG00000000049       -0.000024  0.969369       NaN     Apoh
...                   ...             ...       ...       ...      ...
35677  ENSMUSG00000118670       -0.000399  0.576224       NaN      NaN
35678  ENSMUSG00000118671       -0.005450  0.290983  0.999632    EPPK1
35679  ENSMUSG00000118672             NaN       NaN       NaN     Muc4
35680  ENSMUSG00001074846             NaN       NaN       NaN      NaN
35681  ENSMUSG00002076083       -0.012286  0.221755  0.999632   Klhl17

[35682 rows x 5 columns]

In [26]:
#thresholds for DE genes
th_padj = 0.05 
th_log2FC = 1

In [27]:
#gene lists
gene_list =  ["Cacna1s",
"Hsd3b3",
"Cacna1f"



                    ]
goi = res_genes[res_genes["GENENAME"].isin(gene_list)]

In [28]:
goi.sort_values(by=["GENENAME"], ascending=True)

                   GENEID  log2FoldChange    pvalue  padj GENENAME
8133   ENSMUSG00000031142        0.000408  0.580141   NaN  Cacna1f
5496   ENSMUSG00000026407       -0.000286  0.733279   NaN  Cacna1s
17112  ENSMUSG00000062410        0.000213  0.711381   NaN   Hsd3b3

In [29]:
# log2 transform
counts_genes_norm_log2 = pd.read_csv("results_gene_counts_normalized_male_only_231212.csv")  
counts_genes_norm_log2.rename(columns={"Unnamed: 0": "GENEID"}, inplace = True)
cols = counts_genes_norm_log2.columns
counts_genes_norm_log2[cols[1:]] = counts_genes_norm_log2[cols[1:]].apply(np.log2, errors='coerce')

In [30]:
#merge counts and results

######################################
goi_counts_norm_log2 = goi.merge(counts_genes_norm_log2, how = "left", 
                           left_on='GENEID', 
                           right_on='GENEID', 
                           validate="one_to_one")
goi_counts_norm_log2.set_index('GENENAME', inplace=True)
######################################

In [31]:
goi_counts_norm_log2

,GENEID,log2FoldChange,pvalue,padj,filtered_S3_quant_filtered,filtered_S5_quant_filtered,filtered_S6_quant_filtered,filtered_S7_quant_filtered,filtered_S10_quant_filtered
GENENAME,,,,,,,,,
Cacna1s,ENSMUSG00000026407,-0.000286,0.733279,NaN,3.008948,1.47586,-0.165308,0.488639,2.236255
Cacna1f,ENSMUSG00000031142,0.000408,0.580141,NaN,-0.731756,0.25182,1.164126,2.560660,-inf
Hsd3b3,ENSMUSG00000062410,0.000213,0.711381,NaN,-inf,-inf,-inf,-inf,0.077078